body {
  background-image: url(selene-is-awesome.png);
}
.jumbotron {
  padding: 0;
  margin: 0;
}

.jumbotron-bg {
  width: 100%;
  height: auto;
}
.logo {
  background-color: rgba(255,255,255,0);
  height:100%;
  border: none;
}
.lambpic {
  width: 400px;
  height: 300px;
  padding: 40px;
}

.bg-black {
  background-color: #000;
}
.christmas {
  background-image: url(https://www.joann.com/on/demandware.static/-/Sites-joann-product-catalog/default/dw73625865/images/hi-res/15/15583255.jpg);

}
.card {
  background-color: rgba(255,255,255,0);
  height:100%;
  border: none;
}
nav {
  background-color: #fff;
}

.promo {
  width: 400px;
  height: 300px;
  padding: 40px;
}
